@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css);
.theme-dark{
	--background-primary: transparent;
	--background-primary-alt: #2e3440f0;
	--background-secondary: #2e344050;
	--background-secondary-chat: #2e3440a0;
	--background-secondary-alt: #2e3440;
	--background-tertiary: #2e344070;
	--background-logo: #2e3440a0;
	--deprecated-card-bg: #2e34404c;
	--deprecated-store-bg: #2e344000;
	--background-attachments: #2e344040;
	--background-search-bar: #2e3440a0;
	--background-switcher: #2e3440ff;
	--background-chatbox: #2e344040;
	--background-lights-out: #2e344050;
	--background-pinned: #2e3440ff;
	--background-profile-expand: #2e3440ff;
	--background-emoji: rgb(46, 52, 64);
	--text-lights-out: #eceff4;
	--background-titlebar: #2e344050;
}
